<div ng-controller="AuthCtrl">

	<!-- Local register -->
	<div class="panel" ng-hide="authData">
		<form class="form-group" ng-submit="register()">
			<label>email
				<input type="username" ng-model="registerUser.email" class="form-control">
			</label>
			<label>password
				<input type="password" ng-model="registerUser.password" class="form-control">
			</label>
			<button class="btn btn-outline btn-default">register</button>
		</form>
	</div>

	<!-- Facebook Login -->
	<div class="panel" ng-hide="authData">
		<button ng-click="login()" class="btn btn-outline btn-default">Login with facebook</button>
	</div>

	<!-- Facebook Logout -->
	<div class="panel" ng-show="authData">
		<img ng-src="{[{ authData.facebook.profileImageURL }]}" />
		<p>{[{ authData.facebook.displayName }]}</p>
		<button ng-click="logout()" class="btn btn-outline btn-default">Logout</button>
	</div>
</div>