<div>

	<div id="chat-wrapper">chat-wrapper</div>

	<!-- Local login -->
	<div ng-hide="authData">
		<h4>Local Login</h4>
		<form class="form-group" ng-submit="localLogin()">
			<label>email
				<input type="username" ng-model="localLoginUser.email" class="form-control">
			</label>
			<label>password
				<input type="password" ng-model="localLoginUser.password" class="form-control">
			</label>
			<button class="btn btn-outline btn-primary">Login</button>
		</form>
	</div>

	<!-- Local register -->
	<div ng-hide="authData">
		<h4>Register</h4>
		<form class="form-group" ng-submit="register()">
			<label>email
				<input type="username" ng-model="registerUser.email" class="form-control">
			</label>
			<label>password
				<input type="password" ng-model="registerUser.password" class="form-control">
			</label>
			<button class="btn btn-outline btn-default">register</button>
		</form>
	</div>

	<!-- Facebook Login -->
	<div class="panel" ng-hide="authData">
		<a class="btn btn-block btn-social btn-facebook" ng-click="loginFacebook()">
			<span class="fa fa-facebook"></span> Sign in with Facebook
		</a>
	</div>

	<!-- Google Login -->
	<div class="panel" ng-hide="authData">
		<a class="btn btn-block btn-social btn-google" ng-click="loginGoogle()">
			<span class="fa fa-google-plus"></span> Sign in with Google
		</a>
	</div>

	<!-- Profile after social media login -->
	<div class="panel" ng-show="authData">
		<img ng-src="{[{ authData.facebook.profileImageURL }]}" />
		<p>{[{ authData.facebook.displayName }]}</p>

		<img ng-src="{[{ authData.google.profileImageURL }]}" />
		<p>{[{ authData.google.displayName }]}</p>

		<p>{[{ authData.password.email }]}</p> 
	</div>

	<button ng-show="authData" ng-click="logout()" class="btn btn-outline btn-default">Logout</button>

  	<button ng-click="goCreateForm()" class="btn btn-outline btn-default">Create form</button>

  	<button ng-click="goChat()" class="btn btn-outline btn-default">Chat</button>	
</div>