
<div>
	<form class="form-inline">
	<!-- ========================== Global Chat ========================== -->
	<h2>Global Chat</h2>
	</form>
	<div ng-repeat="message in messages">
		<p><em>{[{message.from}]}: </em>{[{message.content}]}</p>
	</div>

	<form class="form-inline form-group" ng-submit="addMessage()">
		<input type="text" ng-model="message" placeholder="Type your message here" class="form-control">
		<button class="btn btn-default" type="submit">Send</button>
	</form>

	<!-- ========================== Group Chat ========================== -->
	<form class="form-group">
		<h2>Creat a group chat</h2>
		<label>
			Group Name :
			<input type="text" ng-model="groups.groupName" placeholder="Enter a new group name" class="form-control">
		</label>
		<label>
			Password :
			<input type="password" ng-model="groups.groupPassword" placeholder="Enter a new group name" class="form-control">
		</label>
		<button ng-click="createGroup()" class="btn btn-default" type="submit" >Send</button>
	</form>

	<div ng-repeat= "group in groups">
		<div ng-click="enterGroupChat(group)">
			<a><h4>{[{ group.newGroupName }]}</h4></a>
		</div>
	</div>


 </div>
