

<!-- ==========================  MY profile ========================== -->
<!-- User Information -->
<div class="panel" ng-show="authData">
	<img ng-src="{[{ authData.facebook.profileImageURL || authData.google.profileImageURL}]}" />
	<p>Your username : {[{ authData.facebook.displayName || authData.google.displayName || authData.password.email}]}</p>
</div>

 <!-- ==========================  My group chats ========================== -->
<h3>My group chats</h3>
<!-- Select groups by memberUsername -->
<h3>SELECT * FROM groups WHERE newGroupOwner = "jhong@gmail.com";</h3>
<pre>?</pre>
<!-- ==========================  Create a Group Chat ========================== -->
<form class="form-group">
	<h3>Creat a group chat</h3>
	<label>
		Group Name :
		<input type="text" ng-model="groups.groupName" placeholder="Enter a new group name" class="form-control">
	</label>
	<label>
		Password :
		<input type="password" ng-model="groups.groupPassword" placeholder="Enter a new group name" class="form-control">
	</label>
	<button ng-click="createGroup()" class="btn btn-default" type="submit" >Send</button>
</form>

<!-- ========================== Group Chats  ========================== -->
<hr>
<h3>Groups</h3>
<!-- {[{ groups[10] }]}-->
 <div ng-repeat= "group in groups">
	<div ng-click="enterGroupChat(group)">
		<a>{[{ group.newGroupName }]}</a>
	</div>
	<div ng-repeat="data in group">
		{[{ data.memberUsername }]}
	</div>
</div>

<!-- ========================== Global Chat ========================== -->
<hr>
<h3>Global Chat</h3>
<div ng-repeat="message in messages">
	<p><em>{[{message.from}]}: </em>{[{message.content}]}</p>
</div>

<form class="form-inline form-group" ng-submit="addMessage()">
	<input type="text" ng-model="message" placeholder="Type your message here" class="form-control">
	<button class="btn btn-default" type="submit">Send</button>
</form>
