<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Chat Band</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="goCreateForm()">Create form</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="goChat()">Chat</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="logout()">logout</a>
                    </li>
                    <li ng-show="authData">
                    	<a class="page-scroll"> Welcome, {[{ authData.facebook.displayName || authData.google.displayName || authData.password.email}]}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- User Information -->
<!-- <div ng-show="authData">
	<img ng-src="{[{ authData.facebook.profileImageURL || authData.google.profileImageURL}]}" />
	<p>{[{ authData.facebook.displayName || authData.google.displayName || authData.password.email}]}</p>
</div> -->
<div class="row">
	<div class="intro-text">
		<!-- Group Info & Message  -->
		<div ng-model="theGroup">
			<h2 class="section-heading">{[{ theGroup.newGroupName }]}</h2>
		</div>

		<div ng-repeat="messages in theGroup">
			<p><em>{[{messages.from}]}: </em>{[{messages.content}]}</p>
		</div>

		<!-- Group message -->
		<form class="form-inline form-group" ng-submit="addMessage()">
			<input type="text" ng-model="groupMessage" placeholder="Type your groupMessage here" class="form-control">
			<button class="btn btn-default" type="submit">Send</button>
		</form>

		<!-- Inviting group members -->
		<form class="form-inline form-group" ng-submit="addMember()">
			<input type="text" ng-model="memberUsername" placeholder="Invite member" class="form-control">
			<button class="btn btn-default" type="submit">Invite</button>
		</form>

		<!-- See group members -->
		<h4>Group members</h4>
		<div ng-repeat="memberUsername in theGroup">
			<p>{[{memberUsername.memberUsername}]}</p>
		</div>
	</div>
</div>