<div class="panel" ng-show="authData">
	<img ng-src="{[{ authData.facebook.profileImageURL }]}" />
	<p>{[{ authData.facebook.displayName }]}</p>

	<img ng-src="{[{ authData.google.profileImageURL }]}" />
	<p>{[{ authData.google.displayName }]}</p>

	<p>{[{ authData.password.email }]}</p> 
</div>

<div ng-model="theGroup">
	<h2>Group name : {[{ theGroup.newGroupName }]}</h2>
</div>

<div ng-repeat="messages in theGroup">
	<p><em>{[{messages.from}]}: </em>{[{messages.content}]}</p>
</div>

<form class="form-inline form-group" ng-submit="addMessage()">
	<input type="text" ng-model="groupMessage" placeholder="Type your groupMessage here" class="form-control">
	<button class="btn btn-default" type="submit">Send</button>
</form>