<!-- <h2>This is public/views/home.html :-) </h2> -->
<div class="row">
	<h2>Add author and comments</h2>
</div>
<div class="form-group">
	<form ng-submit="postComment()">
		<div class="row">
			<label for="">
				<input type="text" ng-model="newComment.author" placeholder="Enter author">
			</label>
		</div>
		<div class="row">
			<label for="">
				<textarea class="form-control" type="text" ng-model="newComment.comment" placeholder="Enter comments" autofocus>
				</textarea>
			</label>
		</div>
		<div class="row">
			<button type="submit" class="btn btn-default">Add data</button>
		</div>
	</form>
</div>

<!-- <form>
	<label for="">
		<input type="text" ng-model="search.text" placeholder="Search here" autofocus>
	</label>

	<label for="">
		<select name="" id="" ng-model="search.group">
			<option value="name">Name</option>
			<option value="value">Reknown</option>
		</select>
	</label>

	<label for="ascending">
		<input type="radio" ng-model="direction" name="direction" id="ascending" checked>
		Ascending
	</label>

	<label for="descending">
		<input type="radio" ng-model="direction" name="direction" id="descending" value="reverse">
		Descending
	</label>
</form> -->

<ul>
	<li ng-repeat="user in users">
		<div>
		<h3>{{ user.author }}</h3>
		<h4>{{ user.comment }}</h4>
		<p>{{ user.$id }}</p>
		
		<button type="submit" ng-click="removeComment(user)" class="btn btn-danger">Remove comment</button>

		<button type="submit" ng-click="toggleUpdate = !toggleUpdate" class="btn btn-primary">Update comment</button>

		<div class="form-group" ng-show="toggleUpdate">
			<form ng-submit="updateComment()">
				<div class="row">
					<label for="">

						<input type="text" ng-model="user.author" ng-change="users.$save(user)" placeholder="Update author">
					</label>
				</div>
				<div class="row">
					<label for="">

						<textarea class="form-control" type="text" ng-model="user.comment"  ng-change="users.$save(user)" placeholder="Update comments" autofocus>
						</textarea>
					</label>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-default">Submit Comment</button>
				</div>
			</form>
		</div>

<!-- 		<h4>{{ user.value | uppercase}}</h4> -->
<!-- 		<p>
			{{ user.bio | limitTo: 140 }}
			{{ user.bio.length > 140 ? '...' : ''}
		</p> -->
		
<!-- 		<a href="#">
			<pre>{{user | json}}</pre>
		</a> -->
	</li>
</ul>
