<h2>This is public/views/home.html :-) </h2>

<form ng-submit="postComment()">
	<label for="">
		<input type="text" ng-model="newComment.author" placeholder="Enter author">
	</label>
	<label for="">
		<textarea type="text" ng-model="newComment.body" placeholder="Enter comments" autofocus>
		</textarea>
	</label>
	<button type="submit" class="btn btn-default">Add data</button>
</form>

<!-- <form>
	<label for="">
		<input type="text" ng-model="search.text" placeholder="Search here" autofocus>
	</label>

	<label for="">
		<select name="" id="" ng-model="search.group">
			<option value="name">Name</option>
			<option value="value">Reknown</option>
		</select>
	</label>

	<label for="ascending">
		<input type="radio" ng-model="direction" name="direction" id="ascending" checked>
		Ascending
	</label>

	<label for="descending">
		<input type="radio" ng-model="direction" name="direction" id="descending" value="reverse">
		Descending
	</label>
</form> -->

<ul>
	<li ng-repeat="user in users">
		<h3>{{ user.author }}</h3>
		{{ user.body }}
<!-- 		<h4>{{ user.value | uppercase}}</h4> -->
<!-- 		<p>
			{{ user.bio | limitTo: 140 }}
			{{ user.bio.length > 140 ? '...' : ''}
		</p> -->
		
<!-- 		<a href="#">
			<pre>{{user | json}}</pre>
		</a> -->

	</li>
</ul>
