<div class="row">
	<div class="col-lg-12">
		<h2>Add author and comments</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<form ng-submit="postComment()">
			<div class="form-group">
					<label for="">
						<input class="form-control" type="text" ng-model="newComment.author" placeholder="Enter author">
					</label>
			</div>
			<div class="form-group">
					<label for="">
						<textarea class="form-control" rows="3" type="text" ng-model="newComment.comment" placeholder="Enter comments" autofocus>
						</textarea>
					</label>
			</div>
			<button type="submit" class="btn btn-outline btn-default">Add data</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h2>List of comments</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Author</th>
					<th>Comments</th>
					<th>Id</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody ng-repeat="user in users">
				<td>{[{ user.author }]}</td>
				<td>{[{ user.comment }]}</td>
				<td>{[{ user.$id }]}</td>
				<td>
					<button type="submit" ng-click="removeComment(user)" class="btn btn-outline btn-danger">Remove</button>
					<button type="submit" class="btn btn-outline btn-warning" ng-click="goUpdateForm(user, $index)">Update</button>
				</td>
			</tbody>
		</table>
	</div>
</div>


<!-- <ul>
	<li ng-repeat="user in users">
		<div>
		<h3>{[{ user.author }]}</h3>
		<h4>{[{ user.comment }]}</h4>
		<p>{[{ user.$id }]}</p>
		
		<button type="submit" ng-click="removeComment(user)" class="btn btn-outline btn-danger">Remove comment</button>

		<button type="submit" ng-click="toggleUpdate = !toggleUpdate" class="btn btn-outline btn-warning">Update comment</button>

		<div class="form-group" ng-show="toggleUpdate">
			<form ng-submit="updateComment()">
				<label for="">
					{[{ user.author }]}
					<input type="text" ng-model="user.author" ng-change="users.$save(user)" placeholder="Update author">
				</label>
				<label for="">
					{[{ user.comment }]}
					<textarea class="form-control" type="text" ng-model="user.comment"  ng-change="users.$save(user)" placeholder="Update comments" autofocus>
					</textarea>
				</label>
				<button type="submit" class="btn btn-default">Update Comment</button>
			</form>
		</div>

	</li>
</ul> -->

