<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Chat Band</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="goCreateForm()">Create form</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="goChat()">Chat</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-show="authData" ng-click="logout()">logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<div class="intro-text">
	<div class="intro-lead-in">Welcome To Chat Band!</div>
	<div class="intro-heading">Chat app for musicians</div>

<div class="row">
<div class="authWrapper">
<div class="row">

</div>
	<!-- Local login -->
	<div class="row">

	<div ng-hide="authData" class="col-md-6">
		<h4>Local Login</h4>
		<form class="form-group" ng-submit="localLogin()">
			<label><h5>Username</h5>
				<input type="username" ng-model="localLoginUser.email" class="form-control" placeholder="Enter username/email" required>
			</label>
			<label><h5>Password</h5>
				<input type="password" ng-model="localLoginUser.password" class="form-control" placeholder="Enter password" required>
			</label>
			<button class="btn page-scroll btn-xl">Login</button>

			<a class="btn btn-block btn-social btn-facebook" ng-click="loginFacebook()">
				<span class="fa fa-facebook"></span> Sign in with Facebook
			</a>
			<a class="btn btn-block btn-social btn-google" ng-click="loginGoogle()">
				<span class="fa fa-google-plus"></span> Sign in with Google
			</a>
		</form>
	</div>

	<!-- Local register -->
	<div ng-hide="authData" class="col-md-6">
		<h4>Register</h4>
		<form class="form-group" ng-submit="register()">
			<label><h5>New username</h5>
				<input type="username" ng-model="registerUser.email" class="form-control" placeholder="Enter your new username/email" required>
			</label>
			<label><h5>New password</h5>
				<input type="password" ng-model="registerUser.password" class="form-control" placeholder="Create your new password" required>
			</label>
			<button class="btn page-scroll btn-xl">register</button>
		</form>
	</div>
	</div>

	<div class="row">
	<!-- Profile after social media login -->
	<div ng-show="authData">
		<img ng-src="{[{ authData.facebook.profileImageURL }]}" />
		<p>{[{ authData.facebook.displayName }]}</p>

		<img ng-src="{[{ authData.google.profileImageURL }]}" />
		<p>{[{ authData.google.displayName }]}</p>

		<p>{[{ authData.password.email }]}</p> 
	</div>
<!-- <button ng-show="authData" ng-click="logout()" class="btn btn-outline btn-default">Logout</button>
 --><button ng-show="authData" class="btn page-scroll btn-xl" ng-click="goChat()">Start Chatting</button>
<!--
  	<button ng-click="goCreateForm()" class="btn btn-outline btn-default">Create form</button>
  	<button ng-click="goChat()" class="btn btn-outline btn-default">Chat</button> -->

  	</div>	
</div>
</div>

</div>





