body{
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    position: inherit;
    margin: 0 10%;
}

label {
    width: 100%;
}

h1{
	font-weight: 800;
	color: rgba(64, 64, 64, 1);
}
h2{
	color: rgba(38, 50, 72, 1); 
}
h3{
	color: rgba(126, 138, 162, 1);
	font-weight: 700;
}
h4{
	font-weight: 600;
	color: rgba(38, 50, 72, 1);
}
p{
	font-weight: 300;
	color: rgba(38, 50, 72, 1);
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}